body
{
    padding: 20px;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

button
{
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
}
textarea
{
    width: 500px;
    height: 100px;
}
